.btn {
  position: relative;
  width: 170px;
  margin: 15px;
  padding: 10px;
  vertical-align: middle; 
  text-align: center; 
  box-sizing: border-box;
  align-items: center; 
  justify-content: center;
  border: none;

  text-decoration: none;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff; 
  background-color: #8A33FD;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;

}

.btn:hover{
  background-color: #fff;
  color: #8A33FD;
  border: black solid 1px;
}

.btn-primary {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}


.btn-only {
  width: 250px;
  border-radius: 8px;
  margin-top: 50px;
}
