.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(166, 166, 166, 1);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 588px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 20px;


    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        color: #fff;
        margin-top: 70px;

        .modal-close {
            position: absolute;
            right: 28px;
            top: 15px;
            font-size: 40px;
            font-weight: 100;
            display: inline-flex;
            vertical-align: middle;
            text-align: center;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border: none;
            color:
                    #3C4242;
            cursor: pointer;
            user-select: none;
            background-color: transparent;
          }

        .modal-header {
            width: 560px;
            height: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            margin-top: 20px;

            & h2 {
                margin-top: 50px;
                font-size: 32px;
                color: black;
            }
        }
        .body-text {
            margin-top: 20px;
            line-height: 1.6;
            color: #3C4242;
            padding-left: 50px;
            padding-right: 50px;
        }
        .modal-body_background {
            width: 100%;
            display: block;
        }
        .modal-body-secondary_background{
            width: 276px;
            height: 140px;
            background-color: #D9D9D9;
            margin-bottom: 20px;
        }

        .modal-footer{
            padding-top: 30px;
        }

    }
}

